---
import { contact } from '../data/profile';

const contactBits = [
  contact.location,
  contact.email,
  contact.phone,
].filter(Boolean);
---

<header>
  <h1 class="resume-name">{contact.name.toUpperCase()}</h1>
  <p class="resume-contact">
    {contactBits.join(' • ')}
    {' • '}
    <a href={contact.github}>github.com/tfrey7</a>
  </p>
</header>
